.root {
  .viewdata {
    li {
      padding: 3px 5px 3px 2px;
      display: flex;
      align-items: center;

      span {
        &.backlog {
          &:hover {
            text-decoration: underline lightgreen;
          }
        }
        &.inprogress {
          color: lightseagreen;
        }
        &.done {
          color: lightslategray;
          text-decoration: line-through;
        }
      }
      .icon {
        margin-left: 20px;
        cursor: pointer;
        &:active,
        &:hover {
          color: lightgreen;
        }
      }
    }
  }
}
